.wrapper {
  display: flex;
}
/* サイドバー */
.side_bar {
  width: 300px;
  height: 100vh;
}

.side_bar_header {
  width: 300px;
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
}

.rooms {
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2f3e51;
}
/* メインコンテンツ */
.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat_header {
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background-color: #ffffff;
}

.chat {
  width: 100%;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  background-color: #fafafa;
}

.form {
  width: 100%;
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
}